<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	<body>
		<div class="page-header">
			<h1>Cadastrar de imoveis</h1>
		</div>
		<div class="panel-body">
			<form class="navbar-form navbar-left" action="{{ url_for('cadastro') }}" method="POST">
				<table>
						<tr>
							<td>Nome:</td>
							<td><input type="text" class="form-control" name="nome"></td>
						</tr>

						<tr>
							<td>Endereco:</td>
							<td><input type="text" class="form-control" name="endereco"></td>
						</tr>
						<tr>
							<td>Dimensões:</td>
							<td><input type="text" class="form-control" name="dimensoes"></td>
						</tr>
						<tr>
							<td>Tipo:</td>
							<td><input type="text" class="form-control" name="tipo"></td>
						</tr>
						<tr>
							<td>Responsavel:</td>
							<td><input type="text" class="form-control" name="responsavel"></td>
						</tr>
						<tr>
							<td>Quantidade de cômodos:</td>
							<td><input type="text" class="form-control" name="qtd_comodos"></td>
						</tr>
						<tr>
							<td>Status:</td>
							<td><input type="text" class="form-control" name="status"></td>
						</tr>
						<tr>
							<td>Data:</td>
							<td><input type="text" class="form-control" name="data"></td>
						</tr>
					</table><br>
					<input type="submit" class="btn btn-primary btn-lg" value="Salvar Cadastro"/>
					<a href="{{ url_for('home') }}" ><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
			</form>
		</div>
	</body>
</html>
