<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	<body>
	<style>
	.navbar{
		background-color: #2d6ca2;
	}
	.navbar-brand{
		color:white !important;
		margin-left: -20px !important;

	}
	.nav a{
		color: white !important;
	}
	.nav a:hover{
		color:#f0f0f0;
		background: #3276b1 !important;
	}

	element {
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
{
	 margin-left: -50px;

	}

	</style>
	<nav id="header" class="navbar navbar-fixed-top">
				<div id="header-container" class="container navbar-container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="brand" class="navbar-brand" href="#">Sistema de Construção Civil</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ url_for('cadastrar') }}">Cadastro de Imoveis</a></li>
							<li><a href="{{ url_for('lista') }}">Lista de Imoveis"</a></li>
							<li><a href="{{ url_for('insumo') }}">Cadastro de Insumo</a></li>
							 <li><a href="{{ url_for('lista_insumo') }}">Lista de Insumos</a></li>
							  <li><a href="{{ url_for('compra_insumo') }}">Compra de Insumos</a></li>
							   <li><a href="{{ url_for('lista_compra_insumo') }}">Lista de Compra de Insumos</a></li>
						</ul>
					</div><!-- /.nav-collapse -->
				</div><!-- /.container -->
			</nav><!-- /.navbar -->
		
		<div class="panel-body">
			<form class="" action="{{ url_for('cadastro_insumo') }}" method="POST">
			<br>	<h1>Cadastrar de insumo</h1>
				<table>
				<tr>
					<td>Código</td>
					<td><input type="text" class="form-control" name="codigo"></td>
				</tr>

				<tr>
					<td>Descrição</td>
					<td><input type="text" class="form-control" name="descricao"></td>
				</tr>

				<tr>
					<td>Unidade</td>
					<td>
						<select class="form-control" name="unidade">
							  <option value="1">Kg</option>
							  <option value="2">M</option>
							  <option value="3">M²</option>
							  <option value="4">M³</option>
	  						  <option value="5">L</option>
	                          <option value="6">ML</option>
	  						  <option value="7">KIT</option>
	                          <option value="8">CRR</option>
	                          <option value="9">SC</option>
	  						  <option value="10">GL</option>
	                          <option value="11">DB</option>
	                          <option value="12">LA</optio>
	  						  <option value="13">PÇ</option>
	                          <option value="14">CX</option>
	                          <option value="15">RL</option>
						</select>
					</td>
				</tr>
			</table><br>
					<input type="submit" class="btn btn-primary btn-lg" value="Salvar Cadastro"/>
					<a href="{{ url_for('home') }}" ><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
			</form>
		</div>
	</body>
</html>
