
<!DOCTYPE html>
<html>
	<head>
		<title>Pesquisar</title>
		<meta charset="UTF-8">
		<!-- Alteracao dos links de href para url_for-- >
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<body>
	<style>
	.navbar{
		background-color: #2d6ca2;
	}
	.navbar-brand{
		color:white !important;
		margin-left: -20px !important;

	}
	.nav a{
		color: white !important;
	}
	.nav a:hover{
		color:#f0f0f0;
		background: #3276b1 !important;
	}

	element {
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
{
	 margin-left: -50px;

	}

	</style>
	<nav id="header" class="navbar navbar-fixed-top">
				<div id="header-container" class="container navbar-container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="brand" class="navbar-brand" href="#">Sistema de Construção Civil</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ url_for('cadastrar') }}">Cadastro de Imoveis</a></li>
							<li><a href="{{ url_for('lista') }}">Lista de Imoveis"</a></li>
							<li><a href="{{ url_for('insumo') }}">Cadastro de Insumo</a></li>
							 <li><a href="{{ url_for('lista_insumo') }}">Lista de Insumos</a></li>
							  <li><a href="{{ url_for('compra_insumo') }}">Compra de Insumos</a></li>
							   <li><a href="{{ url_for('lista_compra_insumo') }}">Lista de Compra de Insumos</a></li>
						</ul>
					</div><!-- /.nav-collapse -->
				</div><!-- /.container -->
			</nav><!-- /.navbar -->

			<br><br><h1>Lista de compra de insumos</h1>

		<table  class="table" border="4">
			<tr>
				<td>Imovel</td>
				<td>Insumo</td>
				<td>Valor Unitário</td>
				<td>Valor Total</td>
				<td>Data</td>
				<td>Excluir</td>
				<td>Editar</td>
			</tr>
			{% for compra in compras %}
				<tr>
					<td>{{ compra.imovel }}</td>
					<td>{{ compra.insumo }}</td>
					<td>{{ compra.valor_unitario }}</td>
					<td>{{ compra.valor_total }}</td>
					<td>{{ compra.data }}</td>
					<td><center><a href="/excluir-compra-insumo/{{ compra._id }}">Remover</a></center></td>
					<td><center><a href="/atualizar-compra-insumo/{{ compra._id }}">Alterar</a></center></td>
				</tr>
			{% endfor %}
		</table><br>
		<a href="{{ url_for('home') }}"><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
	</body>
</html>
