
<!DOCTYPE html>
<html>
	<head>
		<title>Pesquisar</title>
		<meta charset="UTF-8">
		<!-- Alteracao dos links de href para url_for-- >
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<body>
		<div class="page-header">
			<h1>Lista de compra de insumos</h1>
		</div>
		<table  class="table" border="4">
			<tr>
				<td>Imovel</td>
				<td>Insumo</td>
				<td>Valor Unitário</td>
				<td>Valor Total</td>
				<td>Data</td>
				<td>Excluir</td>
				<td>Editar</td>
			</tr>
			{% for compra in compras %}
				<tr>
					<td>{{ compra.imovel }}</td>
					<td>{{ compra.insumo }}</td>
					<td>{{ compra.valor_unitario }}</td>
					<td>{{ compra.valor_total }}</td>
					<td>{{ compra.data }}</td>
					<td><center><a href="/excluir-compra-insumo/{{ compra._id }}">Remover</a></center></td>
					<td><center><a href="/atualizar-compra-insumo/{{ compra._id }}">Alterar</a></center></td>
				</tr>
			{% endfor %}
		</table><br>
		<a href="{{ url_for('home') }}"><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
	</body>
</html>
